h1 {
	width: 550px;
	display: block;
	margin: 20px auto;
	color: #1DA1F2;
}

.searchForm {
	width: 450px;
	margin-left: 25%;
	display: block;
	margin: auto;
}

.searchTestField {
	height: 30px;
	width: 300px;
	font-size: 120%;
}

.submitButton {
	height: 36px;
	width: 100px;
	font-size: 120%;
	color: #1DA1F2;
}

.optionIcon {
	width: 24px;
	height: 24px;
	margin-bottom: -6px;
	margin-left: 10px;
	cursor: pointer;
}

.optionIcon:focus {
    outline: none !important;
}

.options {
	margin: auto;
	display: block;
}

.countOption {
	display:inline-block;
}

.countText {
	margin-left: 4px;
	display:inline-block;
}

.hashtagOption {
	margin-left: 70px;
	vertical-align: middle;
	display: inline-block;
}

.options {
	width: 50%;
}

md-input-container {
	margin: auto 70px;
	width: 150px;
	font-size: 90%;
}

md-input-container label {
    font-size: 90%;
    margin-bottom: 3px;
    margin-left: 6px;
}

.goodTweets {
	width: 49%;
	margin-left: 1%;
	background-color: #669999;
	display: inline-block; 
	overflow: scroll; 
}

.badTweets {
	width: 49%;
	background-color: #666699;
	display: inline-block; 
	overflow: scroll; 
}

.tweetArea > a {
	height: 48px;
	width: 48px;
}

.tweetArea > a img {
	vertical-align: top;
	height: 48px;
	width: 48px;
}

.tweetArea > a span {
    display: inline-block;
    width: 90%;
    word-break: break-word;
}

.goodTweets > ul li {
    list-style-type: none;
    /*width:600px;*/
    height: 48px;
    border:1px solid;
    border-color: #CCC;
    text-align: left;
}

/*
TODO:
1. Figure out how to get rid of the annoying '-' in the href
2. Figure out the min width for all the components before they get messed up.
3. Figure out how to implement it to be infinite scroll
*/
