<!doctype html>
<html ng-app="tweekApp">
<head>
	<title>Tweek</title>
	<base href="/">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBtmaGNMFDcOCq8EiXJ5dQyiNELfHJnntg"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller/searchController.js"></script>
	<script src="js/directive/googlePlace.js"></script>
	<h1>Tweek, search the tweets your way</h1>
	<div class="tweekHeader" ng-controller="searchController">
		<form class="searchForm" ng-submit="searchTweets()">
			<input class="searchTestField" type="text" ng-model="keyword" name="text" placeholder="Enter keyword(s) and hit Tweek" required/>
			<input class="submitButton" type="submit" id="submit" value="Tweek" />
			<img src="img/pinion-settings-icon.png" alt="settings" class="optionIcon" ng-click="toggleSetting()">
		</form>
		<md-content layout-padding ng-show="showOption">
			<md-card>
				<md-card-content>
					<div layout="row" layout-align="center center">
						<select class="countOption" ng-init="count = tweetsCount[0]" ng-model="count" ng-options="count for count in tweetsCount"></select>
						<p class="countText"> tweets </p>
						<input class="hashtagOption" type='checkbox' ng-model="searchHashtag">hashtag(#)
						<md-input-container layout="row">
							<label><span class="fa fa-search"></span></label>
							<input google-place ng-model="searchLocation" name="location" type="text">
						</md-input-container>
						<md-datepicker flex="15" class="fromDateOption" ng-model="tweetsDateFrom" md-placeholder="from" md-min-date="minDate" md-max-date="tweetsDateTo" md-open-on-focus=""></md-datepicker>
						<md-datepicker class="toDateOption" ng-model="tweetsDateTo" md-placeholder="to" md-min-date="tweetsDateFrom" md-max-date="maxDate" md-open-on-focus=""></md-datepicker>
					</div>
				</md-card-content>
			</md-card>
		</md-content>
		<md-content layout-padding ng-show="tweets && tweets.length > 0">
			<md-card>
				<md-card-content>
					<div class="goodTweets">
						<ul>
							<li class="tweetArea" ng-repeat="tweet in tweets">
								<a target="_blank" ng-attr-href="https://twitter.com/{{tweet.screen_name}}">
									<img ng-attr-src="{{tweet.profile_image_url}}" ng-attr-alt="{{tweet.screen_name}}"
									ng-attr-title="@{{tweet.screen_name}} {{tweet.created_at}} {{tweet.location}}"/>
								</a>
								<a target="_blank" ng-attr-href="https://twitter.com/{{tweet.screen_name}}/status/{{tweet.id_str}}">
									<span class="text">{{tweet.text}}</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="badTweets">
						<ul>
							<li class="tweetArea" ng-repeat="tweet in tweets">
								{{tweet}}
							</li>
						</ul>
					</div>
				</md-card-content>
			</md-card>
		</md-content>
	</div>
</body>
</html>
